Unit]
Description=Edge DHT22 Sensor Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/edge
ExecStart=/home/pi/edge/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
